.click {
    font-size: 28px;
    font-style: Helvetica, "Times New Roman", sans-serif;
}

.one {
    background-color: #000000;
    color: #ffffff;
}

.two {
    background-color: rgb(255, 255, 0);
}