.odd {
    background-color: #ec8c8b;
    font-style: verdana, "Dejavu Sans", sans-serif;
  }

#two {
    color: #0000ff;
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: #90EE90;
    font-size: 24px;
    font-size: bold;
}